<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <display-name>Сервлет Instagram simple clone</display-name>
    <!--
    Для любого сервлета нужно определить два тега servlet и servlet-mapping.
    Важно чтобы внутри каждого из этих тегов были теги servlet-name
    и имя сервлета в них было одинаковым!!! Здесь это имя HelloWeb
    -->

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InstaSimpleClone</servlet-name>
        <servlet-class>by.it.shelkovich.project.java.servlets.FrontController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InstaSimpleClone</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.it.shelkovich.project.java.servlets.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>by.it.shelkovich.project.java.listner.InitListner</listener-class>
    </listener>



</web-app>